@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" type="text/css" />
<div class="titular">   
    
    <button class="btntop"><a style="color:white; text-decoration: none;" asp-area="" asp-controller="Account" asp-action="Login">Login</a></button>
    <p class="tagline" style="font-size:50px;">Inventory Management System</p>
    <p class="subtitle">Makr Thing  Easier</p>
   
  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" style="height:90px;">
    <div class="container text-center">
      <small></small>
    </div>
  </footer>

